.survey-question-only-container {
  margin: 16px 24px;
  border: none;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #000;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  transition: background-color 0.3s ease;
}
.survey-question-only-container span {
  margin: 8px 20px;
  width: 36px;
  height: 36px;
  border: 2px solid;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.survey-question-only-container p {
  padding: 0;
  flex: 1;
  max-height: 2.5em;
  overflow: hidden;
  margin: auto 0;
  text-overflow: ellipsis;
}
