/OpenSurveyBackend/obj/**
/.idea/**
OpenSurveyBackend/.idea/**
OpenSurveyBackend/bin/**
.vs/
OpenSurveyBackend/.vs/OpenSurveyBackend/DesignTimeBuild/.dtbcache.v2
OpenSurveyBackend/.vs/OpenSurveyBackend/FileContentIndex/3dd273a3-86ad-4e24-8d9e-8697b26421db.vsidx
OpenSurveyBackend/.vs/OpenSurveyBackend/DesignTimeBuild/.dtbcache.v2
OpenSurveyBackend/.vs/OpenSurveyBackend/FileContentIndex/eb3fcf4b-1273-4cae-a804-1b94362d4d36.vsidx
OpenSurveyBackend/.vs/OpenSurveyBackend/FileContentIndex/287302ba-ec79-4523-9526-a08b480939b8.vsidx
.vscode/launch.json
.vscode/tasks.json
OpenSurveyBackend/.vs/OpenSurveyBackend/FileContentIndex/6f2e9192-ff9e-431f-bfe8-9d55fc60172c.vsidx
OpenSurveyBackend/.vs/OpenSurveyBackend/DesignTimeBuild/.dtbcache.v2
OpenSurveyBackend/.vs/OpenSurveyBackend/DesignTimeBuild/.dtbcache.v2
OpenSurveyBackend/.vs/OpenSurveyBackend/DesignTimeBuild/.dtbcache.v2
OpenSurveyBackend/.vs/OpenSurveyBackend/FileContentIndex/90daca9e-13ce-401d-af24-2fa3977dae66.vsidx
OpenSurveyBackend/.vs/OpenSurveyBackend/FileContentIndex/861379dc-8dc8-49cc-90f2-685161ee1342.vsidx
OpenSurveyBackend/.vs/OpenSurveyBackend/FileContentIndex/de98123e-1530-450a-bd0e-73449101a22f.vsidx
OpenSurveyBackend/.vs/OpenSurveyBackend/FileContentIndex/01459231-335a-4589-875b-6158f6c560f3.vsidx
